.message {
  padding: 10px;
  margin: 10px 2%;
  width: fit-content;
  font-size: 1rem;
}

.message__guestCard > .MuiCardContent-root:last-child,
.message__userCard > .MuiCardContent-root:last-child {
  padding: 12px 20px;
}

.message__user {
  margin-left: auto;
  color: white;
  text-align: left !important;
}

.message__userCard {
  background-color: #0b81ff !important;
}

.message__guestCard {
  background-color: #e9e9eb !important;
}
